@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--transition: 0.3s ease-in-out all;
		--quick-transition: 0.2s ease-in-out all;
	}

	[data-theme="light"] {
		--bg: #f8f9fa;
		--surface: #f5ebe0;
		--card: #f0dbdb;
		--text: #343a40;
		--grey: #e9f8fa;
		--lightgrey: #e9f8fa;
		--rt-color-white: #fff;
		--rt-opacity: 1;
	}

	[data-theme="dark"] {
		--bg: #121212;
		--surface: #212121;
		--card: #242629;
		--text: #e9ecef;
		--grey: #676971;
		--lightgrey: #72757e;
		--rt-color-dark: #000;
		--rt-opacity: 1;
	}

	* {
		-webkit-tap-highlight-color: transparent;
		scrollbar-width: thin;
		scrollbar-color: theme("colors.surface") theme("colors.bg");
	}

	*::-webkit-scrollbar {
		width: 8px;
	}

	*::-webkit-scrollbar-track {
		background: theme("colors.bg");
		border-radius: 5px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: theme("colors.surface");
		border-radius: 14px;
	}

	body {
		transition: var(--transition);
		background-color: theme("colors.bg");
		color: theme("colors.text");
		font-family: "Inter", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@layer utilities {
	.default-transition {
		transition: var(--transition);
	}
	.slow-transition {
		transition: all 2s;
	}
}
